*{
    margin: 0;
    padding: 0 ;
}
body{
    text-align: center;
    color: grey;
    background-image: linear-gradient(rgb(119, 33, 33), rgb(255, 81, 0));
    background-repeat: no-repeat;
    min-height: 100vh;
}
h5{
    color: black;
}
h1{
    text-align: center;
}
.oi{
width: 13vh;
}
.pum{
    justify-content: center;
    text-align: center;
    margin-left: 33.5vw;
    margin-top: 25px;
    
}
.carousel-inner{
    margin-left: 25vw;
    justify-content: center;
    max-width: 50%;
}
.sla{
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    min-width: 10px;
    padding: px;
}
.p{
    padding: 10px;
}
.img1{
    width: 500px;
    place-items: center;
}
.um{

    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    min-width: 10px;
    padding: 10px;
}
