*{
    margin: 0;
    padding: 0 ;
}
body{
    text-align: center;
    color: grey;
    background-image: linear-gradient(rgb(119, 33, 33), rgb(255, 81, 0));
    background-repeat: no-repeat;
    min-height: 100vh;
}

