*{
    margin: 0;
    padding: 0 ;
    
}
body{
    text-align: center;
    color: grey;
    background-image: linear-gradient(rgb(119, 33, 33), rgb(255, 81, 0));
    background-repeat: no-repeat;
    min-height: 100vh;
}
h5{
    color: black;
}
h1{
    text-align: center;
}
.oi{
width: 13vh;
}
.pum{

    text-align: center;
    margin-left: 33.5vw;

}
.carousel-inner{
    margin-left: 25vw;
    justify-content: center;
    max-width: 50%;
}
.sla{
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    min-width: 10px;
    padding: px;
}
.p{
    padding: 10px;
}
.img1{
    width: 500px;
    place-items: center;
}
.um{

    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    min-width: 10px;
    padding: 10px;
}

aviao{
    max-width: 50%;
}

header{
    background-color: rgba(0, 0, 0, 0.664);
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar{
    display: flex;
    justify-content:space-between ;
    padding: 1.5rem 6rem;
}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content:center ;
    list-style: none;
}
.nav-itens{
 margin: 0 15px;   
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button button{
    border: none;
    background-color: rgb(18, 104, 175);
    padding: 10px 15px;
    border: radius 5px; ;
}

